body {
  font-family: sans-serif;
    margin: 0px;
    color: rgb(0, 0, 0);
    background: rgb(240, 240, 240);
   }

   section {
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 100px;
  }

  a {
    text-decoration: none;
    }

   .container {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
}

   .header {
       font-weight: 600;
       background-color: rgb(231, 41, 41);
       width: 100%;
       padding-top: 15px;
       padding-bottom: 15px;
   }

   .header__inner {
       margin-left: 30px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }


   .nav {
        margin-right: 400px;
        font-size: 20px;
        text-transform: uppercase;
   }

   .nav__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 65px;
        text-decoration: none;
        color: rgb(240, 240, 240);
        transition: color .2s linear;
   }

   .nav__link:hover {
    color: rgb(238, 197, 85);
   }

   .footer {
    display: flex;
    font-weight: 600;
    background-color: rgb(231, 41, 41);
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.content {
    padding-top: 50px;
    padding-left: 300px;
    padding-bottom: 100px;
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
    text-align: center;
  }

  .card > img {

    max-width: 400px;
    height: 300px;
  
  }

  .card > h3 {
    color: #7c4dff;
  }


  .card > p {
    padding: 4px;
    font-size: 14px;
    color: #757575;
  }

  .price {
    color: #d32f2f;
    font-size: 18px;
  }

  .card > button {
    border: none;
    outline: 0;
    padding: 10px;
    color: #fff;
    background-color: #f44336;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .row {
      display: inline-flex;
      margin-left: 100px;
      justify-content: space-between;
      align-items: center;
  }